<section class="container-fluid" style="position: relative;">
  <div class="row">
    <div id="particles-js" class="particles">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#">WebSiteName</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Partners</a></li>
                </ul>
              </div>
          </div>
        </nav>
    </div>
  </div>
</section>
<section class="container-fluid section" >
  <div class="row about">
      <div class="col-md-1 aboutheader">
        <h2>ABOUT</h2>
      </div>
      <div class="col-md-5 aboutcontent">
        <h1>We are the leaders<br>
          in Digital Marketing industry</h1>
        <p>A simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 
        the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
        <a href="#">More About Us</a>
    </div>
    <div class="col-md-5">

    </div>
  </div>
  <section>
      <div class="row">
          <div class="col-md-12 video-wrapper">
              <!-- <video width="100%" height="100%" poster='assets/vide.png' controls>
                  <source src='http://www.youtube.com/watch?v=qpq2p3DN8UU' type='video/youtube' />
                  <source src='video/Interconectvideo.webm' type='video/webm' />
                  <source src='video/Interconectvideo.ogv' type='video/ogg' />
              </video> -->
              <iframe width="1200" height="650" src="http://www.youtube.com/embed/qpq2p3DN8UU"> </iframe>
              <!-- <svg class="video-overlay-play-button" viewBox="0 0 200 200" alt="Play video">
                <circle cx="100" cy="100" r="90" fill="none" stroke-width="15" stroke="#fff"></circle>
                <polygon points="70, 55 70, 145 145, 100" fill="#fff"></polygon>
              </svg> -->
          </div>
      </div>
  </section>
  <div class="services">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <h1 style="padding: 25px 0px;">We are the leaders <br> in Digital Marketing industry </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
          <div class="servicesheader">
            <h1>SERVICES</h1>
          </div>
      </div> 
    <div class="col-md-2">
      <div class="service">

      </div>
    </div>
    <div class="col-md-2">
        <div class="service" style="background-color: #006ab6;">

          </div>
    </div>
    <div class="col-md-2">
        <div class="service">

        </div>
    </div>
    <div class="col-md-2">
        <div class="service">

        </div>
    </div>
    <div class="col-md-2">
        <div class="service">

        </div>
    </div>

  </div>
</div>
<div class="partners">
  <h1 id="partnerheading">OUR PARTNERS</h1>
 <div class="row">
    <div class="img1 col-md-2">
      <img src="assets/partner-1.svg" >
    </div>
    <div class="img2 col-md-2">
        <img src="assets/partner-2.jpg" >
    </div>
    <div class="img3 col-md-2">
        <img src="assets/partner-3.png" > 
    </div>
    <div class="img4 col-md-2">
        <img src="assets/partner-4.svg"  >
    </div>
    <div class="img5 col-md-2">
        <img src="assets/partner-5.png" >
    </div>
    <div class="img6 col-md-2">
        <img src="assets/partner-6.png" >
    </div>
 </div>
</div>
<section>
  <app-footer></app-footer>
</section>
<section class="contactus" style="padding: 6em 0px;">
  <div class="row">
      <div class="col-md-1 contactusheader">
          <h1>CONTACTUS</h1>
      </div>
      <div class="col-md-6 contactuscontent">
        <h1>WE ARE ALWAYS READY <br> TO HELP YOU </h1>
        <p>A simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 
            the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
      </div> 
      <div class="col-md-5">

      </div>
    
  </div>
  <div class="row contactform">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <div class="row">
            <div class="col-md-4">
              <div>
                <input type="text" name="name" placeholder="NAME" class="form-control" required>
              </div>
            </div>
            <div class="col-md-4">
                <div>
                    <input type="text" name="email" placeholder="E-MAIL" class="form-control" required>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <input type="text" name="phone" placeholder="PHONE" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 20px 0px;">
           <div class="col-md-12">
              <textarea rows="10" class="form-control" placeholder="MESSAGE">
              </textarea>
           </div>
        </div>
        <div class="msgbtn">
          <input type="button" value="SEND" class="btn btn-default">
        </div>
      </div>
  </div>

</section>
<footer class="footer">
    <div class="row">
        <div class="col-md-3 row1 frow">
          <h3>TOUCH2ad</h3>
          <ul>
            <li>About us</li>
            <li>News & Media</li>
            <li>Contact Us</li>
            <li>Blog</li>
          </ul>
        </div>
        <div class="col-md-3 row2 frow">
          <h3>WORK WITH US</h3>
          <ul>
            <li>Careers</li>
            <li>Become an Developer</li>
            <li>Become an Affilate</li>
          </ul>
        </div>
        <div class="col-md-3 row3 frow">
          <h3>USEFUL LINKS</h3>
          <ul>
            <li>Reviews</li>
            <li>Terms & Conditions</li>
            <li>Privacy policy</li>
          </ul>
        </div>
        <div class="col-md-3 row4 frow">
          <h3>KEEP IN TOUCH</h3>
          <div class="row" style="margin-left: 15px;">
             
              <div class="col-md-6  col-md-offset-2 icon">
                  <i class="fab fa-facebook"></i>
                  <i class="fab fa-linkedin"></i>
                  <i class="fab fa-twitter-square"></i>
              </div>
              <!-- <div class="col-md-3 icon">
                  
              </div>
              <div class="col-md-3 icon">
                  
              </div> -->
              <div class="col-md-4"></div>
          </div>
        </div>
    </div>
</footer>
</section>
